body{
    background-image: url(../img/emilia-home.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right 0px;
    font-family: "Open Sans";

}
  
header .menu{
    list-style: none;
    padding-left: 5%;
}

header .menu a{
    text-decoration: none;  
    font-weight: normal;
    font-size: 15px;
    color: gray;
}
li i{
    color: black;
}

.nombre{
    font-family: "Work Sans";
    font-weight: normal;
    font-size: 35px;
    padding-top: 10%;
    padding-left: 5%;
}

.frase{
    font-family: "Raleway";
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 10%;
    padding: 5px;
    font-size: 68px;
    margin-left: 2%;

}
